@media (min-width: 600px) {
    *, html{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-size: cover;
        background-position: center;
        scroll-behavior: auto !important;
    }
    
    /*head*/
   .header {
        text-align: center;
        background-color: #f3e3d6;
        padding-bottom: -0.4px;
        padding-top: 25px;
        position: relative;
    }
    
    .mainNav a {
    text-align: center;
    color: black;
    font-size: 25px;
    text-decoration: none;
    padding-bottom: 25px;
    font-weight: 700;
    font-family: "Avenir","Proxima Nova Alt",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    }

    

    .mainNav ul {
        display: inline-flex;
        list-style: none;
    }

    .mainNav ul li{
    width: 150px;
    margin: 3px;
    padding: 3px;
    }

     .mainTitle {
        font-family: "Avenir","Proxima Nova Alt",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
        text-align: center;
        font-size: 60px;
        padding: 15px;
     }

     .mainNav ul li:hover {
        background: #a85507;
        border-radius: -10px;
        margin: 1px;
    }

     .mainNav .fa-solid{
         margin-left: 10px;
     }

     .sub-menu-1 {
        display: none; 
    }
    
    .mainNav ul li:hover .sub-menu-1 {
        display: block;
        position: absolute;
        background: rgb(255, 255, 255);
        margin-top: 15px;
        margin-left: -15px;
    }
    
    .mainNav ul li:hover .sub-menu-1 ul {
        display: block;
        margin: 10px;
    }
    
    .mainNav ul li:hover .sub-menu-1 ul li {
        width: 150px;
        padding: 10px;
        border-bottom: 1px dotted black;
        background: transparent;
        border-radius: 0;
        text-align: left;
    }
    
    .mainNav ul li:hover .sub-menu-1 ul li:last-child {
        border-bottom: none;
    }
    
    .mainNav ul li:hover .sub-menu-1 ul li a:hover {
        color: #994900;
    }

    .logobrands{
        display: none; 
    }

    .FollowLink {
    display: inline-block;
    background: #994900;
    padding: 10px 25px;
    border-radius: 20px;
    border-width: 30px;
    
    }

    .logobrands li{
        display: flex;
        margin-left: 15px;
        margin-right: 15px;
        justify-items: first baseline;
    }
    

    .mainNav ul li:hover .logobrands {
    display: block;
    position: absolute;
    background: #994900;
    margin-top: 15px;
   
    }

    /* aligning the logos*/
    .mainNav ul li:hover .logobrands ul {
        display: block;
        margin: 20px;
    }

    .mainNav ul li:hover .logobrands ul li {
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    }


    /*body*/
    .introWomen {
        width: 1441px;
        height: 500px;        
        background: url("../images/DiscoverWomen.png") no-repeat;
        background-size: cover;  
     }
    
     .headingWomen {
        font-size: 50px;
        padding: 20px;
        font-family: "Avenir","Proxima Nova Alt",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;;
     }
    
     .pWomen {
         margin: 15px;
         font-size: 25px;
         font-family:"Avenir","Proxima Nova Alt",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;;
     }

     .NavWomen {
        text-align: center;
        /*border-style: solid; /* to see where to position*/
        padding: 5px;
        margin: 50px;
    }

     .womenheading {
         text-align: center;
         font-size: 40px;
         font-family: "Avenir","Proxima Nova Alt",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
     }


     .NavWomen a {
        text-align: center;
        color: black;
        font-size: 20px;
        text-decoration: none;
        font-weight: 600;
        font-family: "Avenir","Proxima Nova Alt",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
        }
    

        .NavWomen ul {
            display: inline-flex;
            list-style: none;
        }
    
        .NavWomen ul li{
        width: 150px;
        margin: 25px;
        padding: 10px;
        border-radius: 50px;
        background: linear-gradient(to right, #a85507 50%, #eda268 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 2s ease;
        }

        .NavWomen ul li:hover {
            margin: 5px;
            background-position: left bottom;
        }
        
        .sub-menu-women1 {
            display: none; 
        }
        
        .NavWomen ul li:hover .sub-menu-women1 {
            display: block;
            position: absolute;
            background: rgb(255, 255, 255);
            margin-top: 15px;
            margin-left: -15px;
        }
        
        .NavWomen ul li:hover .sub-menu-women1 ul {
            display: block;
            margin: 10px;
        }
        
        .NavWomen ul li:hover .sub-menu-women1 ul li {
            width: 90px;
            padding: 3px;
            border-bottom: 1px dotted black;
            background: transparent;
            border-radius: 0;
            text-align: left;
        }
        
        .NavWomen ul li:hover .sub-menu-women1 ul li:last-child {
            border-bottom: none;
        }
        
        .NavWomen ul li:hover .sub-menu-women1 ul li a:hover {
            color: #994900;
        }


        /* third-section*/
        
       .main-scroll-div {
           width: 90%;
           height: 100%;
           display: flex;
           align-items: center;
           justify-content: space-between;
           /*border: 2px solid blue;*/
           /*position: absolute;*/
           padding-top: 120px;
           margin: 35px 20px;
       }
        
     .cover {
         position: relative;
         width: 90%;
         height: 50%;
     }

     
     .scroll-images {
         width: 100%;
         height: auto;
         display: flex;
         justify-content: left;
         align-items: center;
         overflow: auto;
         position: relative;
         scroll-behavior: smooth;
     }

     .child {
         min-width: 390px;
         height: 450px;
         margin: 17px;
         cursor: pointer;
         border: 1px solid white;
         overflow: hidden;
     }

     .scroll-images::-webkit-scrollbar {
         -webkit-appearance: none;
     }
     .child-img {
         height: 100%;
     }

     .icon {
         background-color: white;
         border: none;
         font-size: 50px;
         padding: 0px 20px;
         cursor: pointer;
     }

     .icon:hover {
        color: #994900;
     }


     .InfoSection{
        padding-top: 80px;
        /*border: 5px solid red;*/
        margin: 80px;
        /*background-color: #C06722;*/
      }

      .infoSechH{
        font-size: 60px;
        font-family:"Avenir","Proxima Nova Alt",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    }
    
    .infoSechP{
      font-size: 25px;
      font-family:"Avenir","Proxima Nova Alt",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
      margin-bottom: 10px;
    }
    
    .fa, .fa-brands{
        text-align: center;
        padding: 20px;
        font-size: 30px;
        width: 70px;
        margin: 5px 2px;
        text-decoration: none;
        border-radius: 50%;
        color: white;
        background-color: #994900;
      }
  
  
      /* Add a hover effect if you want */
    .fa:hover, .fa-brands:hover {
    opacity: 0.9;
  }
  
    /* Set a specific color for each brand */
  
    /* Instagram */
    .fa-instagram:hover {
        background-image: linear-gradient(#405DE6, #5B51D8, #833AB4,#C13584,#E1306C,#FD1D1D,#F56040,#F77737,#FCAF45,#FFDC80)
    }
  
  .fa-facebook:hover {
    background: #4267B2;
  }
  
  .fa-pinterest:hover{
      background: #E60023;
  }
  
  .fa-tiktok:hover{
    background-image: linear-gradient(#25F4EE, #FE2C55, #000000);
  }

  footer{
    padding: 40px;
    background-color: #f3e3d6;
    text-align: center;
    font-size: 20px;
  }
}     