@media all and (max-width: 500px) {
* {
    margin: 0;
    padding: 0;
}
.header {
    background-color: #f3e3d6;
    padding: 30px;
}

.pageslink {
    text-align: center;
    text-decoration: none;
    color: #d17100;
    font-family: 'Quicksand', sans-serif;
}
 .mainTitle {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 60px;
 }

 .card-section {
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
     border-radius: 15px;
     background-color: #d17100;
     width: 350px;
     height: 300px;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     padding: 20px;
     margin-top: 70px;
 }

 .container {
     padding: 2px 16px;
     border-radius: 5px 5px 0 0;
    }

footer {
    text-align: center;
    color: black;
    padding: 15px;
}
 }