
@media (min-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-size: cover;
        background-position: center;
    }
    
    /*head*/
   .header {
        text-align: center;
        background-color: #f3e3d6;
        padding-bottom: -0.4px;
        padding-top: 25px;
        position: relative;
    }
    
    .mainNav a {
    text-align: center;
    color: black;
    font-size: 25px;
    text-decoration: none;
    padding-bottom: 25px;
    font-weight: 700;
    font-family: "Avenir","Proxima Nova Alt",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    }

    

    .mainNav ul {
        display: inline-flex;
        list-style: none;
    }

    .mainNav ul li{
    width: 150px;
    margin: 3px;
    padding: 3px;
    }

     .mainTitle {
        font-family: "Avenir","Proxima Nova Alt",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
        text-align: center;
        font-size: 60px;
        padding: 15px;
     }

     .mainNav ul li:hover {
        background: #a85507;
        border-radius: -10px;
        margin: 1px;
    }

     .mainNav .fa-solid{
         margin-left: 10px;
     }

     .sub-menu-1 {
        display: none; 
    }
    
    .mainNav ul li:hover .sub-menu-1 {
        display: block;
        position: absolute;
        background: rgb(255, 255, 255);
        margin-top: 15px;
        margin-left: -15px;
    }
    
    .mainNav ul li:hover .sub-menu-1 ul {
        display: block;
        margin: 10px;
    }
    
    .mainNav ul li:hover .sub-menu-1 ul li {
        width: 150px;
        padding: 10px;
        border-bottom: 1px dotted black;
        background: transparent;
        border-radius: 0;
        text-align: left;
    }
    
    .mainNav ul li:hover .sub-menu-1 ul li:last-child {
        border-bottom: none;
    }
    
    .mainNav ul li:hover .sub-menu-1 ul li a:hover {
        color: #994900;
    }
}

 /* body text */
 .msg-container {
    width: 600px;
    height: 280px;
    position: absolute;
    left: 10%;
    top: 65%;
    transform: translateY(-40%);
}

#slider {
    display: inline-flex; /* lets it display in coloumn*/
}

.msg-col {
    width:300px;
    height: 200px;
}

.msg-col h1 {
    color: black;
    font-size: 80px;
    font-weight: 100;
    margin: 10px 0;
}

.msg-col p {
    color: black;
    font-size: 15px;
    line-height: 25px;
}

.msg-col a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #994900;
    font-size: 15px;
    padding: 10px 35px;
    border-radius: 30px;
    margin-top: 25px;
}